[Unit]
Description=UVOC Discord bot API

Wants=network.target

[Service]
Type=notify
EnvironmentFile=/path/to/your/uvocbotapi/environment/file
ExecStart="/path/to/your/UVOCBot.Api/executable"
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target