[Unit]
Description=UVOC Discord bot

Wants=network.target

[Service]
Type=notify
EnvironmentFile=/path/to/your/uvocbot/environment/file
ExecStart="/path/to/your/UVOCBot/executable"
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target