[Unit]
Description=UVOC Discord bot

Wants=network.target

[Service]
Type=simple
ExecStart=/home/pi/programs/UVOCBot
Restart=always
RestartSec=30
KillMode=mixed
Environment=DOTNET_ROOT=/home/pi/dotnet-5

[Install]
WantedBy=multi-user.target