[Unit]
Description=UVOC Discord bot

Wants=network.target

[Service]
Type=notify
ExecStart=/home/pi/programs/StartUVOCBot.sh
Restart=always
RestartSec=30
KillMode=mixed

[Install]
WantedBy=multi-user.target