[Unit]
Description=UVOC Discord bot API

Wants=network.target

[Service]
Type=notify
EnvironmentFile=/etc/systemd/system/uvocbotapi.env
ExecStart="/path/to/your/UVOCBotApi/executable"
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target